.color-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; 
}

.color {
  width: 250px; 
  height: 250px; 
  margin: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.yellow {
  background-color: yellow;
  width: 350px;
  height: 200px; /* Ajusta la altura según tus preferencias */
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
  background-color: blue;
  width: 200px;
  height: 200px; /* Ajusta la altura según tus preferencias */
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: red;
  width: 130px;
  height: 100px;
  margin: 5px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
